<template>
  <div style="padding-bottom:3.0rem">
    <el-tabs type="border-card" :stretch="true">
      <el-tab-pane label="Schedule Information">
        <el-form label-position="top">
          <el-col :span="12">
            <el-form-item
              label="Schedule Name"
              :rules="[ { required: true, message: 'Please input terminalID', trigger: 'blur' } ]"
            >
              <el-input style="width:90%" v-model="form.scheduleName"></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item
              label="Schedule Description"
              :rules="[ { required: true, message: 'Please input terminalID', trigger: 'blur' } ]"
            >
              <el-input style="width:90%" v-model="form.scheduleDescription"></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="Off Day">
              <el-select
                v-model="form.offDays"
                multiple
                placeholder="Select Off Day"
                style="width:90%"
              >
                <el-option v-for="day in daysOption" :label="day" :value="day" :key="day"></el-option>
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item
              label="Shift Type"
              :rules="[ { required: true, message: 'Please input Shift Type', trigger: 'blur' } ]"
            ></el-form-item>
          </el-col>
          <el-col :span="24">
            <p style="margin-bottom:2.0rem">
              WorkDays
              <span>
                <el-button style="float:right" @click="addWorkDay">Add New Work Day</el-button>
              </span>
            </p>
            <work-day
              @copyWorkDay="copyWorkDay($event)"
              @deleteWorkDay="removeWorkDay(index)"
              @updateDetail="updateWorkDayDetail(index,$event)"
              v-for="(day,index) in  form.workDays "
              :key="index"
            ></work-day>
          </el-col>
        </el-form>
      </el-tab-pane>
      <el-tab-pane label="Schedule Rules">
        <el-form label-position="left" label-width="80%">
          <p>
            <b>We are giving you the default settings for this schedule. Change as necessary.</b>
          </p>
          <el-collapse v-model="activeRulesDisplay">
            <el-collapse-item title="Clocking Break" name="tab1">
              <el-col :span="24">
                <el-form-item
                  label="Do you allow Flexi Break"
                  :rules="[ { required: true, message: '', trigger: 'blur' } ]"
                >
                  <el-select v-model="scheduleRules.allowFlexiBreak">
                    <el-option :value="true" label="Yes"></el-option>
                    <el-option :value="false" label="No"></el-option>
                  </el-select>
                </el-form-item>
              </el-col>

              <el-col :span="24">
                <el-form-item
                  label="If Yes, how many minutes max?"
                  :rules="[ { required: true, message: 'Please input minutes', trigger: 'blur' } ]"
                >
                  <el-input
                    :disabled="!scheduleRules.allowFlexiBreak"
                    v-model="scheduleRules.flexiBreakMinute"
                  ></el-input>
                </el-form-item>
              </el-col>
              <el-col :span="24">
                <el-form-item
                  label="Deduct late-in time or early-out time from work time if more than (minutes)"
                  :rules="[ { required: true, message: 'Please input minutes', trigger: 'blur' } ]"
                >
                  <el-input v-model="scheduleRules.deductBreakMinute"></el-input>
                </el-form-item>
              </el-col>

              <el-col :span="24">
                <el-form-item
                  label="Do you want to deduct break from total work time?"
                  :rules="[ { required: true, message: '', trigger: 'blur' } ]"
                >
                  <el-select v-model="scheduleRules.deductBreakFromWorkTime">
                    <el-option :value="true" label="Yes"></el-option>
                    <el-option :value="false" label="No"></el-option>
                  </el-select>
                </el-form-item>
              </el-col>

              <el-col :span="24">
                <el-form-item
                  label="Always take the latest clocking data as attendance for OUT and OT column?"
                  :rules="[ { required: true, message: 'Please input terminalID', trigger: 'blur' } ]"
                >
                  <el-select v-model="scheduleRules.deductBreakFromWorkTime">
                    <el-option :value="true" label="Yes"></el-option>
                    <el-option :value="false" label="No"></el-option>
                  </el-select>
                </el-form-item>
              </el-col>
            </el-collapse-item>

            <el-collapse-item title="Rounding" name="tab2">
              <el-col :span="24">
                <el-form-item
                  label="Do you want to round the recorded time to minutes?"
                  :rules="[ { required: true, message: '', trigger: 'blur' } ]"
                >
                  <el-select v-model="scheduleRules.roundUpClockTime">
                    <el-option :value="true" label="Yes"></el-option>
                    <el-option :value="false" label="No"></el-option>
                  </el-select>
                </el-form-item>
              </el-col>
              <el-col :span="24">
                <el-form-item
                  label="If Yes, how many minutes?"
                  :rules="[ { required: true, message: 'Please input minutes', trigger: 'blur' } ]"
                >
                  <el-input
                    :disabled="!scheduleRules.roundUpClockTime"
                    v-model="scheduleRules.roundClockMinute"
                  ></el-input>
                </el-form-item>
              </el-col>
            </el-collapse-item>
            <el-collapse-item title="Break" name="tab3">
              <el-col :span="24">
                <el-form-item
                  label="Do you want to apply break rules to all your attendance data?"
                  :rules="[ { required: true, message: '', trigger: 'blur' } ]"
                >
                  <el-select v-model="scheduleRules.applyBreaktoAttendance">
                    <el-option :value="true" label="Yes"></el-option>
                    <el-option :value="false" label="No"></el-option>
                  </el-select>
                </el-form-item>
              </el-col>
              <el-col :span="24">
                <el-form-item
                  label="If a staff takes half day leave, the lunch time will be counted as workhour"
                  :rules="[ { required: true, message: 'Please input terminalID', trigger: 'blur' } ]"
                >
                  <el-select v-model="scheduleRules.lunchTimeAsWorkHour">
                    <el-option :value="true" label="Yes"></el-option>
                    <el-option :value="false" label="No"></el-option>
                  </el-select>
                </el-form-item>
              </el-col>
              <el-col :span="24">
                <el-form-item
                  label="Add remaining break time into"
                  :rules="[ { required: true, message: 'Please input terminalID', trigger: 'blur' } ]"
                >
                  <el-select v-model="scheduleRules.remainingBreakTimeCount">
                    <el-option value="None" label="None"></el-option>
                    <el-option value="workTime" label="Work Time"></el-option>
                    <el-option value="overtime" label="OT Time"></el-option>
                  </el-select>
                </el-form-item>
              </el-col>
              <el-col :span="24">
                <el-form-item
                  label="Deduct extra time taken during lunch/dinner from the total work time of that day?"
                  :rules="[ { required: true, message: 'Please input terminalID', trigger: 'blur' } ]"
                >
                  <el-select v-model="scheduleRules.deductExtraBreakfromAttendance">
                    <el-option :value="nn" label="Yes"></el-option>
                    <el-option :value="false" label="No"></el-option>
                  </el-select>
                </el-form-item>
              </el-col>
            </el-collapse-item>
          </el-collapse>
        </el-form>
      </el-tab-pane>
    </el-tabs>
    <el-button
      type="primary"
      style="float:right; margin-top:1.0rem; width:10%"
      @click="submitSchedule()"
    >Submit</el-button>
  </div>
</template>

<script>
import workDay from "../Schedule/workDay";
import ScheduleRule from "./scheduleRule.vue";
import apiCall from "@/core/apiCall.js";
export default {
  components: {
    ScheduleRule,
    workDay
  },

  data() {
    return {
      form: {
        workDays: [],
        offDays: [],
        scheduleName: "",
        scheduleDescription: "",
        assignedDevice: {}
      },
      activeRulesDisplay: ["tab1", "tab2", "tab3"],
      scheduleRules: {
        allowFlexiBreak: false,
        flexiBreakMinute: 0,
        deductBreakMinute: 0,
        deductBreakFromWorkTime: true,
        takeClockTimeAsOut: true,
        roundUpClockTime: false,
        roundClockMinute: 0,
        applyBreaktoAttendance: false,
        lunchTimeAsWorkHour: false,
        remainingBreakTimeCount: "None",
        deductExtraBreakfromAttendance: false
      },
      daysOption: [
        "Monday",
        "Tuesday",
        "Wednesday",
        "Thursday",
        "Friday",
        "Saturday",
        "Sunday"
      ],
      editMode: false,
      displayName: ""
    };
  },

  methods: {
    async submitSchedule() {
      try {
        let scheduleData = {};
        if (this.editMode) {
          scheduleData = await apiCall({
            method: "put",
            url: `/schedule/${this.form._id}`,
            data: {}
          });
        } else {
          scheduleData = await apiCall({
            method: "post",
            url: "/schedule",
            data: {
              offDays: this.form.offDays,
              scheduleDescription: this.form.scheduleDescription,
              scheduleName: this.form.scheduleName,
              workDays: this.form.workDays,
              rules: this.scheduleRules
            }
          });
        }

        this.$emit("update");
      } catch (e) {
        console.warn("ERROR", e);
      }
    },
    updateWorkDayDetail(index, data) {
      this.form.workDays[index] = data;
    },
    copyWorkDay(workDay) {
      this.form.workDays.push(workDay);
    },
    removeWorkDay(index) {
      this.form.workDays.splice(index, 1);
    },
    addWorkDay() {
      this.form.workDays.push({
        workDay: "",
        startEndWorkTime: [],
        startEndBreakTime: []
      });
    },

    handleSelect(device) {
      this.form.assignedDevice = device;
      this.displayName = device.terminalID;
    }
  }
};
</script>

<style>
.el-collapse-item__header {
  background-color: #ebeef5;
  margin-bottom: 1rem;
}
</style>
