<template>
  <el-form label-position="top">
    <el-col :span="12">
      <el-form-item
        label="Schedule Name"
        :rules="[ { required: true, message: 'Please input terminalID', trigger: 'blur' } ]"
      >
        <el-input style="width:90%" v-model="form.scheduleName"></el-input>
      </el-form-item>
    </el-col>
    <el-col :span="12">
      <el-form-item
        label="Schedule Description"
        :rules="[ { required: true, message: 'Please input terminalID', trigger: 'blur' } ]"
      >
        <el-input style="width:90%" v-model="form.scheduleDescription"></el-input>
      </el-form-item>
    </el-col>

    <el-col :span="12">
      <el-form-item label="Off Day">
        <el-select v-model="form.offDays" multiple placeholder="Select Off Day" style="width:90%">
          <el-option v-for="day in daysOption" :label="day" :value="day" :key="day"></el-option>
        </el-select>
      </el-form-item>
    </el-col>
    <el-col :span="12">
      <el-form-item
        label="Assigned Device"
        :rules="[ { required: true, message: 'Please input terminalID', trigger: 'blur' } ]"
      >
        <el-autocomplete
          v-model="displayName"
          :fetch-suggestions="querySearchDevices"
          placeholder="Search for Devices"
          @select="handleSelect"
          style="width:90%"
        ></el-autocomplete>
      </el-form-item>
    </el-col>
    <el-col :span="24">
      <p style="margin-bottom:2.0rem">
        WorkDays
        <span>
          <el-button style="float:right" @click="addWorkDay">Add New Work Day</el-button>
        </span>
      </p>
      <work-day
        @copyWorkDay="copyWorkDay($event)"
        @deleteWorkDay="removeWorkDay(index)"
        v-for="(day,index) in  form.workDays "
        :key="index"
      ></work-day>
    </el-col>
  </el-form>
</template>

<script>
import workDay from "../Schedule/workDay";
import apiCall from "@/core/apiCall.js";

export default {
  components: {
    workDay
  },

  data() {
    return {
      form: {
        workDays: [],
        offDays: [],
        scheduleName: "",
        scheduleDescription: "",
        assignedDevice: {}
      },

      daysOption: [
        "Monday",
        "Tuesday",
        "Wednesday",
        "Thursday",
        "Friday",
        "Saturday",
        "Sunday"
      ],
      displayName: ""
    };
  },

  methods: {
    copyWorkDay(workDay) {
      this.form.workDays.push(workDay);
    },
    removeWorkDay(index) {
      this.form.workDays.splice(index, 1);
    },
    addWorkDay() {
      this.form.workDays.push({
        workDay: "",
        startEndWorkTime: [],
        startEndBreakTime: []
      });
    },
    async querySearchDevices(queryString, cb) {
      let { data } = await apiCall({
        method: "get",
        url: "getdevices"
      });
      queryString = queryString.toLowerCase();
      data = data.map(res => {
        return { ...res, value: res.terminalID };
      });

      let results = queryString
        ? data.filter(res => {
            return res.value.toLowerCase().includes(queryString);
          })
        : data;

      cb(results);
    },
    handleSelect(device) {
      this.form.assignedDevice = device;
      this.displayName = device.terminalID;
    }
  }
};
</script>

