<template>
  <el-form label-position="left" label-width="80%">
    <p>
      <b>We are giving you the default settings for this schedule. Change as necessary.</b>
    </p>
    <el-collapse v-model="activeRulesDisplay">
      <el-collapse-item title="Clocking Break" name="tab1">
        <el-col :span="24">
          <el-form-item
            label="Do you allow Flexi Break"
            :rules="[ { required: true, message: '', trigger: 'blur' } ]"
          >
            <el-select v-model="scheduleRules.allowFlexiBreak">
              <el-option :value="true" label="Yes"></el-option>
              <el-option :value="false" label="No"></el-option>
            </el-select>
          </el-form-item>
        </el-col>

        <el-col :span="24">
          <el-form-item
            label="If Yes, how many minutes max?"
            :rules="[ { required: true, message: 'Please input minutes', trigger: 'blur' } ]"
          >
            <el-input
              :disabled="!scheduleRules.allowFlexiBreak"
              v-model="scheduleRules.flexiBreakMinute"
            ></el-input>
          </el-form-item>
        </el-col>
        <el-col :span="24">
          <el-form-item
            label="Deduct late-in time or early-out time from work time if more than (minutes)"
            :rules="[ { required: true, message: 'Please input minutes', trigger: 'blur' } ]"
          >
            <el-input v-model="scheduleRules.deductBreakMinute"></el-input>
          </el-form-item>
        </el-col>

        <el-col :span="24">
          <el-form-item
            label="Do you want to deduct break from total work time?"
            :rules="[ { required: true, message: '', trigger: 'blur' } ]"
          >
            <el-select v-model="scheduleRules.deductBreakFromWorkTime">
              <el-option :value="true" label="Yes"></el-option>
              <el-option :value="false" label="No"></el-option>
            </el-select>
          </el-form-item>
        </el-col>

        <el-col :span="24">
          <el-form-item
            label="Always take the latest clocking data as attendance for OUT and OT column?"
            :rules="[ { required: true, message: 'Please input terminalID', trigger: 'blur' } ]"
          >
            <el-select v-model="scheduleRules.deductBreakFromWorkTime">
              <el-option :value="true" label="Yes"></el-option>
              <el-option :value="false" label="No"></el-option>
            </el-select>
          </el-form-item>
        </el-col>
      </el-collapse-item>

      <el-collapse-item title="Rounding" name="tab2">
        <el-col :span="24">
          <el-form-item
            label="Do you want to round the recorded time to minutes?"
            :rules="[ { required: true, message: '', trigger: 'blur' } ]"
          >
            <el-select v-model="scheduleRules.roundUpClockTime">
              <el-option :value="true" label="Yes"></el-option>
              <el-option :value="false" label="No"></el-option>
            </el-select>
          </el-form-item>
        </el-col>
        <el-col :span="24">
          <el-form-item
            label="If Yes, how many minutes?"
            :rules="[ { required: true, message: 'Please input minutes', trigger: 'blur' } ]"
          >
            <el-input
              :disabled="!scheduleRules.roundUpClockTime"
              v-model="scheduleRules.roundClockMinute"
            ></el-input>
          </el-form-item>
        </el-col>
      </el-collapse-item>
      <el-collapse-item title="Break" name="tab3">
        <el-col :span="24">
          <el-form-item
            label="Do you want to apply break rules to all your attendance data?"
            :rules="[ { required: true, message: '', trigger: 'blur' } ]"
          >
            <el-select v-model="scheduleRules.applyBreaktoAttendance">
              <el-option :value="true" label="Yes"></el-option>
              <el-option :value="false" label="No"></el-option>
            </el-select>
          </el-form-item>
        </el-col>
        <el-col :span="24">
          <el-form-item
            label="If a staff takes half day leave, the lunch time will be counted as workhour"
            :rules="[ { required: true, message: 'Please input terminalID', trigger: 'blur' } ]"
          >
            <el-select v-model="scheduleRules.lunchTimeAsWorkHour">
              <el-option :value="true" label="Yes"></el-option>
              <el-option :value="false" label="No"></el-option>
            </el-select>
          </el-form-item>
        </el-col>
        <el-col :span="24">
          <el-form-item
            label="Add remaining break time into"
            :rules="[ { required: true, message: 'Please input terminalID', trigger: 'blur' } ]"
          >
            <el-select v-model="scheduleRules.remainingBreakTimeCount">
              <el-option value="None" label="None"></el-option>
              <el-option value="workTime" label="Work Time"></el-option>
              <el-option value="overtime" label="OT Time"></el-option>
            </el-select>
          </el-form-item>
        </el-col>
        <el-col :span="24">
          <el-form-item
            label="Deduct extra time taken during lunch/dinner from the total work time of that day?"
            :rules="[ { required: true, message: 'Please input terminalID', trigger: 'blur' } ]"
          >
            <el-select v-model="scheduleRules.deductExtraBreakfromAttendance">
              <el-option :value="nn" label="Yes"></el-option>
              <el-option :value="false" label="No"></el-option>
            </el-select>
          </el-form-item>
        </el-col>
      </el-collapse-item>
    </el-collapse>
  </el-form>
</template>

<script>
import apiCall from "@/core/apiCall.js";

export default {
  data() {
    return {
      activeRulesDisplay: ["tab1", "tab2", "tab3"],
      scheduleRules: {
        allowFlexiBreak: false,
        flexiBreakMinute: 0,
        deductBreakMinute: 0,
        deductBreakFromWorkTime: true,
        takeClockTimeAsOut: true,
        roundUpClockTime: false,
        roundClockMinute: 0,
        applyBreaktoAttendance: false,
        lunchTimeAsWorkHour: false,
        remainingBreakTimeCount: "None",
        deductExtraBreakfromAttendance: false
      }
    };
  }
};
</script>
