<template>
  <el-col :span="24" class="workDay">
    <el-col :span="5">
      <el-form-item
        label="Day"
        :rules="[ { required: true, message: 'Please input terminalID', trigger: 'blur' } ]"
        style="width:90%"
      >
        <el-select v-model="workDay">
          <el-option v-for="day in dayOption" :key="day" :label="day" :value="day"></el-option>
        </el-select>
      </el-form-item>
    </el-col>

    <el-col :span="8">
      <el-form-item
        label="Work Time"
        :rules="[ { required: true, message: 'Please input terminalID', trigger: 'blur' } ]"
      >
        <el-time-picker
          style="width:90%"
          is-range
          v-model="startEndWorkTime"
          range-separator="-"
          start-placeholder="Start time"
          end-placeholder="End time"
          value-format="HH:mm"
          display-format="HH:mm"
        ></el-time-picker>
      </el-form-item>
    </el-col>

    <el-col :span="8">
      <el-form-item
        label="Break Time"
        :rules="[ { required: true, message: 'Please input terminalID', trigger: 'blur' } ]"
      >
        <el-time-picker
          is-range
          v-model="startEndBreakTime"
          value-format="HH:mm"
          display-format="HH:mm"
          style="width:90%"
          range-separator="-"
          start-placeholder="Start time"
          end-placeholder="End time"
        ></el-time-picker>
      </el-form-item>
    </el-col>

    <el-col :span="3">
      <el-form-item
        label="Action"
        :rules="[ { required: true, message: 'Please input terminalID', trigger: 'blur' } ]"
      >
        <el-button
          type="primary"
          icon="el-icon-copy-document"
          size="small"
          @click="$emit('copyWorkDay',{workDay,startEndWorkTime,startEndBreakTime})"
        ></el-button>
        <el-button type="indo" icon="el-icon-delete" size="small" @click="$emit('deleteWorkDay')"></el-button>
      </el-form-item>
    </el-col>
  </el-col>
</template>

<script>
export default {
  data() {
    return {
      workDay: "",
      startEndWorkTime: ["09:00", "17:00"],
      startEndBreakTime: ["12:00", "13:00"],
      dayOption: [
        "Monday",
        "Tuesday",
        "Wednesday",
        "Thursday",
        "Friday",
        "Saturday",
        "Sunday"
      ]
    };
  },
  watch: {
    workDay() {
      this.$emit("updateDetail", {
        workDay: this.workDay,
        startEndWorkTime: this.startEndWorkTime,
        startEndBreakTime: this.startEndBreakTime
      });
    },
    startEndWorkTime() {
      this.$emit("updateDetail", {
        workDay: this.workDay,
        startEndWorkTime: this.startEndWorkTime,
        startEndBreakTime: this.startEndBreakTime
      });
    },
    startEndBreakTime() {
      this.$emit("updateDetail", {
        workDay: this.workDay,
        startEndWorkTime: this.startEndWorkTime,
        startEndBreakTime: this.startEndBreakTime
      });
    }
  }
};
</script>

<style scoped>
.el-form-item {
  margin-bottom: 10px;
}
.workDay {
  margin-bottom: 1rem;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12), 0 0 6px 0 rgba(0, 0, 0, 0.04);
  background-color: #f8f8f8;
  padding: 0.5rem;
}
</style>

