<template>
  <div class="page-table scrollable only-y" id="affix-container" v-loading="loading">
    <div class="page-header">
      <h2>Manage Attendance</h2>
      <p>View all employee attendance data in this tab.</p>
    </div>

    <div style="padding-bottom:4rem">
      <el-col :span="6">Check Attendance by Date</el-col>
      <el-col :span="6">
        <el-date-picker
          style="width:90%"
          v-model="searchDate"
          type="date"
          @change="updateList()"
          placeholder="pick attendance date"
          value-format="yyyy-MM-dd"
        ></el-date-picker>
      </el-col>
    </div>

    <el-table :data="list" :stripe="true">
      <el-table-column label="Date" width="100">
        <el-table-column width="125" prop="clockDate"></el-table-column>
      </el-table-column>
      <el-table-column label="User ID">
        <el-table-column width="100" prop="employeeID">
          <template slot="header" slot-scope="scope">
            <el-input @keyup.enter.native="searchData()" size="mini" placeholder="Type to search" />
          </template>
        </el-table-column>
      </el-table-column>
      <el-table-column label="Name">
        <el-table-column prop="name">
          <template slot="header" slot-scope="scope">
            <el-input size="mini" @keydown.native="searchData()" placeholder="Type to search" />
          </template>
        </el-table-column>
      </el-table-column>
      <el-table-column label="Clock Time">
        <el-table-column width="150" prop="clockTime">
          <template slot="header" slot-scope="scope">
            <el-input size="mini" @keydown.native="searchData()" placeholder="Type to search" />
          </template>
        </el-table-column>
      </el-table-column>
      <el-table-column label="Device">
        <el-table-column width="150" prop="deviceID">
          <template slot="header" slot-scope="scope">
            <el-input size="mini" @keydown.native="searchData()" placeholder="Type to search" />
          </template>
        </el-table-column>
      </el-table-column>

      <el-table-column label="Activity">
        <el-table-column prop="activity_type" width="150">
          <template slot="header" slot-scope="scope">
            <el-input size="mini" @keydown.native="searchData()" placeholder="Type to search" />
          </template>
        </el-table-column>
      </el-table-column>

      <el-table-column label="Shift">
        <el-table-column width="150" prop="user.shift.scheduleName">
          <template slot="header" slot-scope="scope">
            <el-input size="mini" @keydown.native="searchData()" placeholder="Type to search" />
          </template>
        </el-table-column>
      </el-table-column>

      <el-table-column label="Location">
        <el-table-column width="150">
          <template slot-scope="scope">
            <a
              target="_blank"
              v-bind:href="'https://www.google.com/maps/search/?api=1&query' + scope.row.lat + ',' + scope.row.lng"
            >Clock In Location</a>
          </template>
        </el-table-column>
      </el-table-column>
    </el-table>

    <el-dialog
      v-if="createNewLeaveDialog"
      :visible.sync="createNewLeaveDialog"
      width="80%"
      top="5vh"
    >
      <span slot="title">
        <h2 style="text-align:center">New Leave</h2>
      </span>
      <new-leave
        :data="this.selected.data"
        @close="createNewLeaveDialog = false"
        @update="updateList($event)"
      ></new-leave>
    </el-dialog>

    <el-dialog :visible.sync="confirmDialog" class="newUserDialog" width="30%" top="15vh">
      <span>Are you sure you want to remove the leave application?</span>
      <span slot="footer" class="dialog-footer">
        <el-button @click="confirmDialog = false">Cancel</el-button>
        <el-button type="primary" @click="deleteLeave()">Confirm</el-button>
      </span>
    </el-dialog>
  </div>
</template>

<script>
import apiCall from "@/core/apiCall.js";
import Affix from "@/components/Affix";
import NewLeave from "@/components/Leave/NewLeave.vue";
import io from "socket.io-client";
import moment from "moment";

export default {
  name: "LeaveList",
  data() {
    return {
      loading: false,
      searchShiftLoading: false,
      searchDeviceLoading: false,
      searchDate: null,
      affixEnabled: true,
      createNewLeaveDialog: false,
      confirmDialog: false,
      list: [],
      originalList: [],
      selected: {
        deleteIndex: "",
        data: null,
        operation: ""
      },
      deviceOption: [],
      shiftOption: [],
      searchUser: ""
    };
  },
  components: {
    Affix,
    NewLeave
  },
  methods: {
    async querySearchUsers(queryString, cb) {
      let { data } = await apiCall({
        url: "users",
        method: "get"
      });

      queryString = queryString.toLowerCase();
      data = data.map(res => {
        return { ...res, value: res.name };
      });

      let results = queryString
        ? data.filter(res => {
            return res.value.toLowerCase().includes(queryString);
          })
        : data;

      cb(results);
    },
    handleSelect(user) {
      this.searchUser = user.name;
    },
    updateList() {
      this.createNewLeaveDialog = false;
      this.getAttendance();
    },
    async getAttendance() {
      this.loading = true;
      if (!this.searchDate) {
        this.searchDate = moment().format("YYYY-MM-DD");
      }
      try {
        let { data } = await apiCall({
          url: "attendance",
          method: "get",
          params: {
            date: this.searchDate
          }
        });
        this.list = data;

        this.originalList = _.clone(data);
      } catch (e) {
      } finally {
        this.loading = false;
      }
    },
    handleDelete(index, data) {
      this.confirmDialog = true;
      this.selected = {
        operation: "delete",
        data: data,
        index: index
      };
    },
    async deleteLeave() {
      if (this.selected.operation == "delete") {
        try {
          let resp = await apiCall({
            method: "delete",
            url: `/removeleave/${this.selected.data._id}`
          });
        } catch (e) {
        } finally {
          this.resetSelection();
          this.confirmDialog = false;
          this.getAttendance();
        }
      }
    },
    handleEdit(index, data) {
      this.selected = {
        deleteIndex: index,
        data: data,
        operation: "edit"
      };
      this.createNewLeaveDialog = true;
    },
    resetSelection() {
      this.selected = {
        deleteIndex: "",
        data: null,
        operation: ""
      };
    },
    handleClose() {
      console.log("CLOSE");
      this.createNewUserDialog = false;
      this.resetSelection();
    }
  },
  created() {
    this.getAttendance();
  },
  computed: {}
};
</script>

<style lang="scss" scoped>
.table-box {
  overflow: auto;
}
</style>