<template>
  <div class="page-table scrollable only-y" id="affix-container" v-loading="loading">
    <div class="page-header">
      <h2>Summary</h2>
      <p>View all employee performance data in this tab.</p>
    </div>

    <div style="padding-bottom:4rem">
      <el-col :span="6">Check Attendance by Date</el-col>
      <el-col :span="6">
        <el-date-picker
          style="width:90%"
          v-model="searchSummaryDate"
          type="date"
          @change="getSummary()"
          placeholder="pick attendance date"
          value-format="yyyy-MM-dd"
        ></el-date-picker>
      </el-col>
    </div>

    <el-table :data="summary" :stripe="true">
      <el-table-column label="Employee ID" width="100">
        <el-table-column width="125" prop="employeeID"></el-table-column>
      </el-table-column>
      <el-table-column label="Name">
        <el-table-column prop="name">
          <template slot="header" slot-scope="scope">
            <el-input size="mini" @keydown.native="searchData()" placeholder="Type to search" />
          </template>
        </el-table-column>
      </el-table-column>
      <el-table-column label="Clock Date">
        <el-table-column prop="clockDate">
          <template slot="header" slot-scope="scope">
            <el-input size="mini" @keydown.native="searchData()" placeholder="Type to search" />
          </template>
        </el-table-column>
      </el-table-column>
      <el-table-column label="Shift">
        <el-table-column prop="shift.scheduleName">
          <template slot="header" slot-scope="scope">
            <el-input size="mini" @keydown.native="searchData()" placeholder="Type to search" />
          </template>
        </el-table-column>
      </el-table-column>
      <el-table-column label="Clock In Time">
        <el-table-column>
          <template slot="header" slot-scope="scope">
            <el-input size="mini" @keydown.native="searchData()" placeholder="Type to search" />
          </template>
          <template slot-scope="scope">
            {{scope.row.clockInTime}}
            <span
              v-if="getStatus(scope.row.clockInTime,'Clock In',scope.row.shift) =='LATE CLOCK IN' "
              style="color:red"
            >{{getStatus(scope.row.clockInTime,'Clock In',scope.row.shift)}}</span>
            <span
              v-if="getStatus(scope.row.clockInTime,'Clock In',scope.row.shift) =='EARLY CLOCK IN' "
              style="color:green"
            >{{getStatus(scope.row.clockInTime,'Clock In',scope.row.shift)}}</span>
          </template>
        </el-table-column>
      </el-table-column>
      <el-table-column label="Clock Out Time">
        <el-table-column>
          <template slot="header" slot-scope="scope">
            <el-input size="mini" @keydown.native="searchData()" placeholder="Type to search" />
          </template>
          <template slot-scope="scope">
            {{scope.row.clockOutTime}}
            <span
              v-if="getStatus(scope.row.clockOutTime,'Clock Out',scope.row.shift) =='EARLY CLOCK' "
              style="color:red"
            >{{getStatus(scope.row.clockOutTime,'Clock Out',scope.row.shift)}}</span>
          </template>
        </el-table-column>
      </el-table-column>

      <el-table-column label="Working Hours">
        <el-table-column prop="activity_type" width="150">
          <template slot="header" slot-scope="scope">
            <el-input size="mini" @keydown.native="searchData()" placeholder="Type to search" />
          </template>
          <template
            slot-scope="scope"
          >{{getWorkingHours(scope.row.clockInTime,scope.row.clockOutTime)}}</template>
        </el-table-column>
      </el-table-column>

      <el-table-column label="Shift Hours">
        <el-table-column width="150">
          <template slot="header" slot-scope="scope">
            <el-input size="mini" @keydown.native="searchData()" placeholder="Type to search" />
          </template>
          <template slot-scope="scope">{{getShiftHours(scope.row.shift)}}</template>
        </el-table-column>
      </el-table-column>

      <el-table-column label="Remark">
        <el-table-column width="150" prop="lng">
          <template slot="header" slot-scope="scope">
            <el-input size="mini" @keydown.native="searchData()" placeholder="Type to search" />
          </template>
        </el-table-column>
      </el-table-column>
    </el-table>
  </div>
</template>

<script>
import apiCall from "@/core/apiCall.js";
import moment from "moment";
export default {
  data() {
    return {
      summary: [],
      loading: false,
      searchSummaryDate: null
    };
  },

  mounted() {
    this.getSummary();
  },

  methods: {
    async getSummary() {
      this.loading = true;
      if (!this.searchSummaryDate) {
        this.searchSummaryDate = moment().format("YYYY-MM-DD");
      }
      try {
        let { data } = await apiCall({
          method: "get",
          url: "summary",
          params: {
            date: this.searchSummaryDate
          }
        });
        this.loading = false;
        let users = data.users;
        let attendances = data.attendance;
        this.summary = [];
        console.log("ATTEND", attendances);
        console.log("USERS", users);
        users.forEach((user, index) => {
          console.log("IND", attendances[index].length);
          if (attendances[index].length > 0) {
            this.summary.push({
              name: user.name,
              employeeID: user.employeeID,
              shift: user.shift,
              clockInTime: this.getClockInClockOut(
                "Clock In",
                attendances[index]
              ),
              clockDate: attendances[index][0].clockDate,
              clockOutTime: this.getClockInClockOut(
                "Clock Out",
                attendances[index]
              )
            });
          }
        });

        console.log("SUM", this.summary);
      } catch (e) {
        console.error(e);
      }
    },

    getClockInClockOut(type, attendanceArray) {
      if (type == "Clock In") {
        let trimmedData = _.filter(attendanceArray, attendance => {
          return attendance.activity_type == "Clock In";
        });

        if (trimmedData.length > 0) {
          let earliestDate = trimmedData[0];

          for (let i = 1; i < trimmedData.length; i++) {
            if (trimmedData[i].clockInTime < earliestDate.clockInTime) {
              earliestDate = trimmedData[i];
            }
          }

          return earliestDate.clockTime;
        } else {
          return "N/A";
        }
      }
      if (type == "Clock Out") {
        let trimmedData = _.filter(attendanceArray, attendance => {
          return attendance.activity_type == "Clock Out";
        });

        if (trimmedData.length > 0) {
          let latestDate = trimmedData[0];

          for (let i = 1; i < trimmedData.length; i++) {
            if (trimmedData[i].clockOutTime > earliestDate.clockOutTime) {
              latestDate = trimmedData[i];
            }
          }
          return latestDate.clockTime;
        } else {
          return "N/A";
        }
      }
    },

    getTodayShift(shift) {
      let todayDay = moment().format("dddd");
      if (shift) {
        return shift.workDays.filter(res => res.workDay == todayDay);
      } else {
        return [];
      }
    },

    getStatus(clockTime, activity_type, shift) {
      if (activity_type == "Clock In") {
        let shiftStart = this.getTodayShift(shift);
        console.log("SS", shiftStart);
        if (shiftStart.length > 0) {
          let shiftStartTime = shiftStart[0].startEndWorkTime[0]
            ? shiftStart[0].startEndWorkTime[0]
            : null;

          if (!shiftStartTime) {
            return "N/A";
          } else if (clockTime > shiftStartTime) {
            return "LATE CLOCK IN";
          } else if (clockTime < shiftStartTime) {
            return "EARLY CLOCK IN";
          }
        } else {
          return "NOT IN SHIFT";
        }
      }

      if (activity_type == "Clock Out") {
        let shiftStart = this.getTodayShift(shift);
        console.log("SS", shiftStart);
        if (shiftStart.length > 0) {
          let shiftEndTime = shiftStart[0].startEndWorkTime[1];

          if (!shiftEndTime) {
            return "N/A";
          } else if (clockTime < shiftEndTime) {
            return "EARLY CLOCK";
          } else if (clockTime > shiftEndTime) {
            return "";
          }
        } else {
          return "NO IN SHIFT";
        }
      }
    },

    getWorkingHours(clockInTime, clockOutTime) {
      console.log(arguments);
      if (clockInTime == "N/A" || clockOutTime == "N/A") {
        return "INVALID DATA";
      } else {
        return this.getDuration(clockInTime, clockOutTime);
      }
    },

    getShiftHours(shift) {
      try {
        let workTime = this.getTodayShift(shift)[0].startEndWorkTime;
        return this.getDuration(workTime[0], workTime[1]);
      } catch (e) {
        return "NOT IN WORKING SHIFT";
      }
    },

    getDuration(startTime, endTime) {
      let startMoment = moment(startTime, "hh:mm:ss");
      let endMoment = moment(endTime, "hh:mm:ss");
      let duration = endMoment.diff(startMoment, "hours", true);
      let hours = Math.floor(duration);
      let minutes = Math.floor((duration - hours) * 60);
      console.log("hours", hours);
      console.log("min", minutes);
      return `${hours} hours : ${minutes} minutes`;
    }
  }
};
</script>

<style>
</style>
