<template>
  <vue-scroll class="page-dashboard">
    <el-row class="mt-0" :gutter="20">
      <el-col
        :xs="12"
        :sm="12"
        :md="3"
        :lg="3"
        :xl="3"
        :span="3"
        v-for=" (date,index) in dateDisplay"
        :key="date"
      >
        <div
          class="card-shadow--medium date-display"
          v-loading="!asyncComponent"
          :class="{currentDay:index == dateDisplay.length-1}"
        >
          <div class="ph-20 pt-10">
            <div class="flex justify-center align-center">
              <p>{{date.date}}</p>
            </div>
            <div class="flex justify-center align-center">
              <p style="font-weight:700">{{date.attendanceRate}}%</p>
            </div>
          </div>
        </div>
      </el-col>
    </el-row>

    <el-row :gutter="20">
      <el-col :xs="24" :sm="12" :md="12" :lg="12" :xl="12">
        <div class="card-base card-shadow--medium bg-white black-text p-30 mt-40">
          <h2 class="mt-0 mb-10">Today Attendance Rate</h2>
          <div class="chart-box" style="height:400px;">
            <bulma-chart :type="'doughnut'" :data="attendanceData" :options="pieOptions"></bulma-chart>
          </div>
        </div>
      </el-col>

      <el-col :xs="24" :sm="12" :md="12" :lg="12" :xl="12">
        <div
          class="card-base card-shadow--medium bg-white black-text p-30 mt-40"
          style="height:400px"
        >
          <h2 class="mt-0 mb-10">
            No Clocking
            <span style="float:right">
              <el-input
                placeholder="Search Employee By Name"
                suffix-icon="el-icon-search"
                v-model="search"
              ></el-input>
            </span>
          </h2>

          <el-table
            :data="tableData.filter(data => !search || data.name.toLowerCase().includes(search.toLowerCase()))"
            style="width: 100%"
          >
            <el-table-column label="ID" prop="id"></el-table-column>
            <el-table-column label="Name" prop="name"></el-table-column>
            <el-table-column label="Last Clocked In" prop="clockInTime"></el-table-column>
          </el-table>
        </div>
      </el-col>
    </el-row>
  </vue-scroll>
</template>

<script>
import echarts from "echarts";
import moment from "moment";

export default {
  name: "Dashboard",
  data() {
    let getLastDays = (dayCount, fromDate) => {
      let dateArrays = [];
      let startDate = fromDate.subtract(dayCount, "days");

      for (let i = 1; i <= dayCount; i++) {
        if (i != dayCount) {
          dateArrays.push({
            date: startDate.add(1, "days").format("DD/MM/YYYY, ddd"),
            attendanceRate: 0
          });
        } else {
          dateArrays.push({
            date: startDate.add(1, "days").format("DD/MM/YYYY, ddd,") + "Today",
            attendanceRate: 0
          });
        }
      }

      return dateArrays;
    };

    return {
      asyncComponent: "peity",
      dateDisplay: getLastDays(7, moment()),
      attendanceData: {
        labels: ["On Time", "Late", "On Leave", "Absence"],
        datasets: [
          {
            data: [77, 5, 10, 8],
            backgroundColor: ["#1fc8db", "#fce473", "#42afe3", "#ed6c63"]
          }
        ]
      },
      pieOptions: {
        segmentShowStroke: true
      },
      tableData: [
        {
          id: "0001",
          name: "Kumaran",
          clockInTime: moment()
            .subtract(27, "hours")
            .format("DD/MM/YYYY HH:mmA")
        },
        {
          id: "0032",
          name: "Edward",
          clockInTime: moment()
            .subtract(26, "hours")
            .format("DD/MM/YYYY HH:mmA")
        },
        {
          id: "0069",
          name: "Morgan",
          clockInTime: moment()
            .subtract(24.5, "hours")
            .format("DD/MM/YYYY HH:mmA")
        },
        {
          id: "0129",
          name: "Jessy",
          clockInTime: moment()
            .subtract(23, "hours")
            .format("DD/MM/YYYY HH:mmA")
        }
      ],
      search: ""
    };
  },
  computed: {
    smallWidget() {
      return (
        this.dashboardWidth >= 970 &&
        this.dashboardWidth <= 1412 &&
        this.windowWidth >= 1200
      );
    }
  },
  methods: {
    __resizeHanlder: _.throttle(function(e) {
      if (this.resized) {
        this.asyncComponent = null;
        this.removePeity();
        setTimeout(() => {
          this.asyncComponent = "peity";
        }, 1000);

        this.asyncChart1 = false;
        this.asyncChart2 = false;
        setTimeout(() => {
          this.asyncChart1 = true;
          this.resizeChart1();
        }, 1000);
        setTimeout(() => {
          this.asyncChart2 = true;
          this.resizeChart2();
        }, 2500);
      }
      this.resized = true;
    }, 700)
  }
};
</script>

<style lang="scss" scoped>
@import "../../assets/scss/_variables";

.chart-box {
  position: relative;
  width: 100%;
  max-width: 400px;
  text-align: center;
}

.widget {
  height: 200px;
  position: relative;

  .widget-header {
    .widget-icon-box {
      background: rgba(0, 0, 0, 0.02);
      border: 1px solid rgba(0, 0, 0, 0.02);
      border-radius: 4px;
      text-align: center;
      width: 60px;
      padding: 5px;
    }

    .widget-title {
      font-weight: bold;
    }
  }

  .badge-box {
    .badge {
      //background: rgba(0, 0, 0, .02);
      display: inline-block;
      //padding: 2px 5px;
      //border: 1px solid rgba(0, 0, 0, .02);
      border-radius: 4px;
      font-size: 80%;
    }
  }
}

/*@media (max-width: 768px) {
	.el-row {
		//margin-left: 0 !important;
		//margin-right: 0 !important;

		.el-col-24 {
			//padding-left: 0 !important;
			//padding-right: 0 !important;
		}
	}
}*/
.date-display {
  height: 150px;
}
.timeline {
  max-width: 1200px;
  margin: 6px;
}
.timeline,
.timeline-title {
  color: $text-color;
  line-height: 1.4;
  cursor: default;
  font-family: inherit;
}

/*@media (min-width: 1200px) and (max-width: 1850px) {
	.widget {
		.widget-header {
			.widget-icon-box {
				display: none;
			}
		}
	}
}*/
@media (min-width: 768px) and (max-width: 1040px) {
  .radio-switcher {
    display: none;
  }

  .widget {
    .widget-header {
      .widget-icon-box {
        display: none;
      }
    }
  }
}
@media (max-width: 420px) {
  .radio-switcher {
    display: none;
  }
}
</style>

<style lang="scss">
.page-dashboard {
  .currentDay {
    background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
    color: white;
  }

  .widget {
    .peity {
      position: absolute;
      bottom: -1px;
      left: 0;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
    }
  }
  table.styled {
    .peity {
      margin-right: 10px;
    }
  }

  .vb-content {
    padding: 0 20px;
    box-sizing: border-box !important;
    margin-top: -5px;
    margin-left: -20px;
    margin-right: -20px;
    height: calc(100% + 15px) !important;
    width: calc(100% + 40px) !important;
  }
}

@media (max-width: 768px) {
  .page-dashboard {
    .vb-content {
      padding: 0 5px !important;
      margin: -5px;
      width: calc(100% + 10px) !important;
    }
  }
}
</style>


