<template>
  <div class="page-table scrollable only-y" id="affix-container">
    <div class="page-header">
      <h2>Manage Schedules</h2>
      <p>
        A clocking schedule is used as a calculator that has rules that can be set up and the software will
        look at these rules when calculating clocking activities.
        <span>
          <el-button style="float:right" @click="createNewSchedule = true">Add New Schedule</el-button>
        </span>
      </p>
    </div>
    <el-table :data="list" :stripe="true">
      <el-table-column label="ID" width="75" type="index"></el-table-column>
      <el-table-column label="Schedule Name">
        <el-table-column prop="scheduleName">
          <template slot="header" slot-scope="scope">
            <el-input @keyup.enter.native="searchData()" size="mini" placeholder="Type to search" />
          </template>
        </el-table-column>
      </el-table-column>

      <el-table-column label="Description">
        <el-table-column prop="scheduleDescription">
          <template slot="header" slot-scope="scope">
            <el-input size="mini" @keydown.native="searchData()" placeholder="Type to search" />
          </template>
        </el-table-column>
      </el-table-column>

      <el-table-column label="Work Day">
        <el-table-column>
          <template slot="header" slot-scope="scope">
            <el-input size="mini" @keydown.native="searchData()" placeholder="Type to search" />
          </template>
          <template slot-scope="scope">
            <span v-for="day in scope.row.workDays" :key="day.workDay">{{day.workDay}} ,</span>
          </template>
        </el-table-column>
      </el-table-column>

      <el-table-column label="Off Day">
        <el-table-column>
          <template slot="header" slot-scope="scope">
            <el-input size="mini" @keydown.native="searchData()" placeholder="Type to search" />
          </template>
          <template slot-scope="scope">
            <span v-for="day in scope.row.offDays" :key="day">{{day}} ,</span>
          </template>
        </el-table-column>
      </el-table-column>
      <el-table-column label="Schedule Type">
        <el-table-column prop="leaveStart" width="125">
          <template slot="header" slot-scope="scope">
            <el-input size="mini" @keydown.native="searchData()" placeholder="Type to search" />
          </template>
        </el-table-column>
      </el-table-column>

      <el-table-column width="125">
        <template slot-scope="scope">
          <el-button size="mini" @click="handleEdit(scope.$index, scope.row)">
            <i class="el-icon-edit"></i>
          </el-button>
          <el-button size="mini" type="danger" @click="handleDelete(scope.$index, scope.row)">
            <i class="el-icon-delete"></i>
          </el-button>
        </template>
      </el-table-column>
    </el-table>

    <el-dialog v-if="createNewSchedule" :visible.sync="createNewSchedule" width="80%" top="5vh">
      <span slot="title">
        <h2 style="text-align:center">New Schedule</h2>
      </span>
      <new-schedule
        :data="this.selected.data"
        @close="createNewSchedule = false"
        @update="updateList($event)"
      ></new-schedule>
    </el-dialog>

    <el-dialog :visible.sync="confirmDialog" class="newUserDialog" width="30%" top="15vh">
      <span>Are you sure you want to remove the schedule?</span>
      <span slot="footer" class="dialog-footer">
        <el-button @click="confirmDialog = false">Cancel</el-button>
        <el-button type="primary" @click="deleteSchedule()">Confirm</el-button>
      </span>
    </el-dialog>
  </div>
</template>

<script>
import Affix from "@/components/Affix";
import NewSchedule from "@/components/Schedule/newSchedule.vue";
import apiCall from "@/core/apiCall.js";

export default {
  name: "Users",
  data() {
    return {
      loading: false,
      affixEnabled: true,
      createNewSchedule: false,
      confirmDialog: false,
      list: [],
      search: "",
      selected: {
        deleteIndex: "",
        data: null,
        operation: ""
      }
    };
  },
  components: {
    Affix,
    NewSchedule
  },
  methods: {
    updateList() {
      this.createNewSchedule = false;
      this.getSchedules();
    },
    async getSchedules() {
      this.loading = true;
      try {
        let { data } = await apiCall({
          method: "get",
          url: "/schedule"
        });
        this.list = data;
        this.originalList = _.clone(data);
      } catch (e) {
        console.warn("ERROR:", e);
      } finally {
        this.loading = false;
      }
    },
    handleDelete(index, data) {
      this.confirmDialog = true;
      this.selected = {
        operation: "delete",
        data: data,
        index: index
      };
    },
    async deleteSchedule() {
      if (this.selected.operation == "delete") {
        try {
          let resp = await apiCall({
            method: "delete",
            url: `/removeschedule/${this.selected.data._id}`
          });
        } catch (e) {
        } finally {
          this.resetSelection();
          this.confirmDialog = false;
          this.getSchedules();
        }
      }
    },
    handleEdit(index, data) {
      console.log("EDIT INDEX", index);
      console.log("DATA", data);
      this.selected = {
        deleteIndex: index,
        data: data,
        operation: "edit"
      };
      this.createNewSchedule = true;
    },
    resetSelection() {
      this.selected = {
        deleteIndex: "",
        data: null,
        operation: ""
      };
    },
    handleClose() {
      console.log("CLOSE");
      this.createNewSchedule = false;
      this.resetSelection();
    }
  },
  mounted() {
    this.getSchedules();
  }
};
</script>

<style lang="scss" scoped>
@import "../../../assets/scss/_variables";

.table-box {
  overflow: auto;
}
</style>

