<template>
  <div class="page-profile-edit">
    <el-form ref="form" :model="form" label-width="120px" label-position="left">
      <h2>Company Information</h2>
      <el-col>
        <el-col :span="12" :md="12" :sm="24" :xs="24" class="col-p">
          <el-form-item label="Name">
            <el-input v-model="form.name" />
          </el-form-item>
        </el-col>
        <el-col :span="12" :md="12" :sm="24" :xs="24" class="col-p">
          <el-form-item label="employeeID">
            <el-input v-model="form.employeeID" />
          </el-form-item>
        </el-col>
      </el-col>
      <el-col>
        <el-col :span="12" :md="12" :sm="24" :xs="24" class="col-p">
          <el-form-item label="Organization">
            <el-input v-model="form.organization" />
          </el-form-item>
        </el-col>
        <el-col :span="12" :md="12" :sm="24" :xs="24" class="col-p">
          <el-form-item label="Job Title">
            <el-input v-model="form.job_title" />
          </el-form-item>
        </el-col>
      </el-col>
      <el-col>
        <el-col :span="12" :md="12" :sm="24" :xs="24" class="col-p">
          <el-form-item label="Designation">
            <el-select v-model="form.designation" value-key="name">
              <el-option
                v-for="(designation,index) in designationOptions"
                :key="index"
                :label="designation.name"
                :value="designation"
              ></el-option>
            </el-select>
          </el-form-item>
        </el-col>
        <el-col :span="12" :md="12" :sm="24" :xs="24" class="col-p">
          <el-form-item label="Position Level">
            <el-select v-model="form.position_level" value-key="name">
              <el-option
                v-for="(level,index) in position_levelOptions"
                :key="index"
                :label="level.name"
                :value="level"
              ></el-option>
            </el-select>
          </el-form-item>
        </el-col>
      </el-col>
      <el-col>
        <el-col :span="12" :md="12" :sm="24" :xs="24" class="col-p">
          <el-form-item label="Shift">
            <el-autocomplete
              v-model="displayName"
              :fetch-suggestions="querySearchShift"
              placeholder="Assign a shift"
              @select="handleSelect"
              style="width:100%"
            ></el-autocomplete>
          </el-form-item>
        </el-col>
        <el-col :span="12" :md="12" :sm="24" :xs="24" class="col-p">
          <el-form-item label="Status">
            <el-select v-model="form.employmentStatus" value-key="status">
              <el-option
                v-for="status in employeeStatusOptions"
                :key="status.id"
                :label="status.status"
                :value="status"
              ></el-option>
            </el-select>
          </el-form-item>
        </el-col>
      </el-col>
      <el-col>
        <el-col :span="12" :md="12" :sm="24" :xs="24" class="col-p">
          <el-form-item label="Joined Date">
            <el-date-picker
              type="date"
              placeholder="Pick a date"
              v-model="form.joinedDate"
              style="width: 100%;"
              format="dd-MM-yyyy"
              value-format="dd-MM-yyyy"
            ></el-date-picker>
          </el-form-item>
        </el-col>
        <el-col :span="12" :md="12" :sm="24" :xs="24" class="col-p">
          <el-form-item label="Effective Date">
            <el-input disabled :value="form.effectiveDate"></el-input>
          </el-form-item>
        </el-col>
      </el-col>
      <h2>Personal Information</h2>
      <el-col>
        <el-col :span="12" :md="12" :sm="24" :xs="24" class="col-p">
          <el-form-item label="Date of Birth">
            <el-date-picker
              type="date"
              placeholder="Pick a date"
              v-model="form.dateOfBirth"
              style="width: 100%;"
              format="dd-MM-yyyy"
              value-format="dd-MM-yyyy"
            ></el-date-picker>
          </el-form-item>
        </el-col>
        <el-col :span="12" :md="12" :sm="24" :xs="24" class="col-p">
          <el-form-item label="Gender">
            <el-radio-group v-model="form.gender">
              <el-radio label="Male" border></el-radio>
              <el-radio label="Female" border></el-radio>
            </el-radio-group>
          </el-form-item>
        </el-col>
      </el-col>
      <el-col>
        <el-col :span="12" :md="12" :sm="24" :xs="24" class="col-p">
          <el-form-item label="Race">
            <el-input v-model="form.race"></el-input>
          </el-form-item>
        </el-col>
        <el-col :span="12" :md="12" :sm="24" :xs="24" class="col-p">
          <el-form-item label="Religion">
            <el-input v-model="form.religion"></el-input>
          </el-form-item>
        </el-col>
      </el-col>
      <el-col>
        <el-col :span="12" :md="12" :sm="24" :xs="24" class="col-p">
          <el-form-item label="Address">
            <el-input type="textarea" v-model="form.address" :rows="3"></el-input>
          </el-form-item>
        </el-col>
        <el-col :span="12" :md="12" :sm="24" :xs="24" class="col-p">
          <el-form-item label="Nationality">
            <el-select v-model="form.nationality" value-key="name">
              <el-option
                v-for="country in countries"
                :key="country.code"
                :label="country.name"
                :value="country"
              ></el-option>
            </el-select>
          </el-form-item>
        </el-col>
      </el-col>
      <el-col>
        <el-col :span="24" :md="24" :sm="24" :xs="24" class="col-p">
          <el-form-item label="Remark">
            <el-input v-model="form.remark" type="textarea" :rows="3"></el-input>
          </el-form-item>
        </el-col>
      </el-col>

      <h2 v-if="form.designation.id ===1 || form.designation.id ===2">Personal Information</h2>
      <el-col v-if="form.designation.id ===1 || form.designation.id ===2">
        <el-col :span="12" :md="12" :sm="24" :xs="24" class="col-p">
          <el-form-item label="Username">
            <el-input v-model="form.username"></el-input>
          </el-form-item>
        </el-col>
        <el-col :span="12" :md="12" :sm="24" :xs="24" class="col-p">
          <el-form-item label="Designation">
            <b>{{form.designation.name}}</b>
          </el-form-item>
        </el-col>
      </el-col>
      <el-col v-if="form.designation.id ===1 || form.designation.id ===2">
        <el-col :span="12" :md="12" :sm="24" :xs="24" class="col-p">
          <el-form-item label="Password">
            <el-input type="password" v-model="form.password"></el-input>
          </el-form-item>
        </el-col>
        <el-col :span="12" :md="12" :sm="24" :xs="24" class="col-p">
          <el-form-item label="Confirm">
            <el-input type="password" v-model="form.confirmPassword"></el-input>
          </el-form-item>
        </el-col>
      </el-col>
      <el-col>
        <el-col :span="24" :md="24" :sm="24" :xs="24" class="col-p">
          <div style="text-align:center">
            <el-button type="info" @click="closeDialog()" style="width:25%">CANCEL</el-button>
            <el-button type="primary" @click="registerNewUser()" style="width:25%">CONFIRM</el-button>
          </div>
        </el-col>
      </el-col>
    </el-form>
  </div>
</template>

<script>
import countriesJSON from "@/assets/data/countries.json";
import moment from "moment";
import apiCall from "@/core/apiCall.js";

export default {
  name: "ProfileEdit",
  props: {
    data: {
      type: Object
    }
  },

  data() {
    let todayDate = moment().format("DD-MM-YYYY");

    return {
      form: {
        name: "",
        employeeID: "",
        gender: "",
        organization: "",
        position_level: "",
        job_title: "",
        designation: "",
        dateOfBirth: "",
        nationality: "",
        race: "",
        joinedDate: "",
        address: "",
        religion: "",
        confirmPassword: "",
        effectiveDate: todayDate,
        employmentStatus: "",
        remark: "",
        shift: {
          name: ""
        },
        address: "",
        phoneNumber: "",
        username: "",
        password: ""
      },
      displayName: "",
      genderChoice: ["male", "female"],
      countries: countriesJSON,
      editMode: false,
      shiftOptions: [
        {
          name: "HQ",
          device: "",
          time: ""
        },
        {
          name: "Site Sunway",
          device: "",
          time: ""
        },
        {
          name: "Site LRT Subang Jaya",
          device: "",
          time: ""
        }
      ],
      employeeStatusOptions: [
        { status: "active", id: 0 },
        { status: "inactive", id: 1 },
        { status: "resigned", id: 2 },
        { status: "fired", id: 3 }
      ],
      designationOptions: [
        {
          name: "site supervisor",
          id: 1
        },
        {
          name: "admin",
          id: 2
        },
        {
          name: "device ",
          id: 3
        },
        {
          name: "staff",
          id: 4
        },
        {
          name: "others",
          id: 4
        }
      ],
      position_levelOptions: [
        {
          name: "Non Executive",
          id: 1
        },
        {
          name: "Fresh/Entry",
          id: 2
        },
        {
          name: "Junior Executive ",
          id: 3
        },
        {
          name: "Senior Executive",
          id: 4
        },
        {
          name: "Manager",
          id: 5
        },
        {
          name: "Senior Manager",
          id: 6
        },
        {
          name: "Other",
          id: 7
        }
      ]
    };
  },
  methods: {
    async registerNewUser() {
      try {
        let userData = {};
        if (this.editMode) {
          userData = await apiCall({
            method: "put",
            url: `/users/${this.form._id}`,
            data: this.form
          });
        } else {
          userData = await apiCall({
            method: "post",
            url: "/users",
            data: this.form
          });
        }

        this.registerNewRoles(userData.data);

        this.$emit("update");
      } catch (e) {
        console.warn("ERROR", e);
      }
    },
    resizeLabelPosition() {
      if (window.innerWidth <= 768) {
        this.labelPosition = "top";
      }
    },
    closeDialog() {

      this.$emit("close");
    },
    async registerNewRoles(userData) {
      if (this.form.designation.id === 1 || this.form.designation.id === 2) {
        apiCall({
          method: "post",
          url: "/createRole",
          data: {
            user: userData,
            username: this.form.username,
            password: this.form.password,
            designation: this.form.designation
          }
        });
      }
    },
    async querySearchShift(queryString = "", cb) {
      let { data } = await apiCall({
        method: "get",
        url: "schedule"
      });


      queryString = queryString.toLowerCase();
      data = data.map(res => {

        return { ...res, value: res.scheduleName };
      });

      let results = queryString
        ? data.filter(res => {
            return res.value.toLowerCase().includes(queryString);
          })
        : data;



      cb(results);
    },
    handleSelect(shift) {
      this.form.shift = shift;
      this.displayName = shift.scheduleName;
    }
  },
  mounted() {
    this.resizeLabelPosition();
    window.addEventListener("resize", this.resizeLabelPosition);

    if (this.data) {
      this.editMode = true;
      this.form = _.cloneDeep(this.data);
    }
  },
  beforeDestroy() {
    window.removeEventListener("resize", this.resizeLabelPosition);
    this.$emit("close");
  }
};
</script>

<style lang="scss" scoped>
.el-select {
  width: 100%;
}
.page-profile-edit {
  overflow: auto;
  .label-switch-box {
    display: block;
    clear: both;
    width: 100%;
    text-align: right;
    margin-bottom: 20px;
  }
  .col-p {
    padding: 0 10px;
    box-sizing: border-box;
  }
  .select-wide {
    width: 100%;
  }
}
</style>
