<template>
  <el-form :model="form" ref="form" label-position="top" style="overflow:auto">
    <el-col :span="12">
      <el-form-item
        label="Staff Name"
        prop="user"
        :rules="[ { required: true, message: 'Please input event title', trigger: 'blur' } ]"
      >
        <el-autocomplete
          v-model="displayName"
          :fetch-suggestions="querySearchUsers"
          placeholder="Search for User"
          @select="handleSelect"
          style="width:90%"
        ></el-autocomplete>
      </el-form-item>
    </el-col>

    <el-col :span="12">
      <el-form-item label="Leave Type">
        <el-select value-key="leave" v-model="form.leaveType" style="width:90%">
          <el-option
            v-for="option in leaveTypeOptions"
            :key="option.id"
            :label="option.leave"
            :value="option"
          ></el-option>
        </el-select>
      </el-form-item>
    </el-col>

    <el-col :span="12">
      <el-form-item
        label="Leave Start Date"
        prop="leaveStart"
        :rules="[ { required: true, message: 'Please input valid date', trigger: 'blur' } ]"
      >
        <el-date-picker
          value-format="dd-MM-yyyy"
          type="date"
          placeholder="Pick a date"
          style="width: 90%;"
          v-model="form.leaveStart"
          @change="calcDuration(form.leaveStart,form.leaveEnd)"
        ></el-date-picker>
      </el-form-item>
    </el-col>

    <el-col :span="12">
      <el-form-item
        label="Leave End Date"
        prop="leaveEnd"
        :rules="[ { required: true, message: 'Please input valid date', trigger: 'blur' } ]"
      >
        <el-date-picker
          value-format="dd-MM-yyyy"
          type="date"
          placeholder="Pick a date"
          style="width: 90%;"
          v-model="form.leaveEnd"
          @change="calcDuration(form.leaveStart,form.leaveEnd)"
        ></el-date-picker>
      </el-form-item>
    </el-col>

    <el-col :span="12" v-if="calcDuration(form.leaveStart,form.leaveEnd) === 1">
      <el-form-item
        label="Leave Day Option"
        prop="dayOption"
        :rules="[ { required: true, message: 'Please input Leave Day Option', trigger: 'blur' } ]"
      >
        <el-select v-model="form.dayOption" value-key="leaveDay" style="width: 90%;">
          <el-option
            v-for="option in leaveDayOption"
            :label="option.leaveDay"
            :value="option"
            :key="option.id"
          ></el-option>
        </el-select>
      </el-form-item>
    </el-col>

    <el-col :span="12">
      <el-form-item
        label="Reason"
        prop="reason"
        :rules="[ { required: true, message: 'Please input Reason', trigger: 'blur' } ]"
      >
        <el-input placeholder="Reason" style="width: 90%;" v-model="form.reason"></el-input>
      </el-form-item>
    </el-col>
    <el-col>
      <el-col :span="24" :md="24" :sm="24" :xs="24" class="col-p">
        <div style="text-align:center">
          <el-button type="info" @click="closeDialog()" style="width:25%">CANCEL</el-button>
          <el-button
            type="primary"
            :loading="uploading"
            @click="updateLeaveApplication()"
            style="width:25%"
          >CONFIRM</el-button>
        </div>
      </el-col>
    </el-col>
  </el-form>
</template>

<script>
import moment from "moment";
import apiCall from "@/core/apiCall.js";

export default {
  name: "NewLeave",
  props: {
    data: {
      type: Object
    }
  },

  data() {
    let todayDate = moment().format("DD-MM-YYYY");

    return {
      form: {
        user: {},
        leaveType: {},
        leaveStart: null,
        leaveEnd: null,
        leaveDuration: 0,
        dayOption: {
          leaveDay: null
        }
      },
      editMode: false,
      displayName: "",
      leaveTypeOptions: [
        { leave: "Annual Leave", id: 0 },
        { leave: "Emergency Leave", id: 1 },
        { leave: "Sick Leave", id: 2 },
        { leave: "Unpaid Leave", id: 3 },
        { leave: "Compassionate Leave", id: 4 },
        { leave: "Others", id: 5 }
      ],
      leaveDayOption: [
        {
          leaveDay: "FullDay",
          id: 1001
        },
        {
          leaveDay: "AM",
          id: 1002
        },
        {
          leaveDay: "PM",
          id: 1003
        }
      ],
      uploading: false
    };
  },
  methods: {
    calcDuration(startDate, leaveDate) {
      if (startDate !== null && leaveDate !== null) {
        let momentStartDate = moment(startDate, "DD-MM-YYYY");
        let momentEndDate = moment(leaveDate, "DD-MM-YYYY");
        let duration = momentEndDate.diff(momentStartDate, "days");
        if (duration > 0) {
          this.form.dayOption = {
            leaveDay: null
          };
        }
        return duration + 1;
      }
    },
    async querySearchUsers(queryString, cb) {
      let { data } = await apiCall({
        method: "get",
        url: "users"
      });
      queryString = queryString.toLowerCase();
      data = data.map(res => {
        return { ...res, value: res.name };
      });

      let results = queryString
        ? data.filter(res => {
            return res.value.toLowerCase().includes(queryString);
          })
        : data;

      cb(results);
    },
    handleSelect(user) {
      this.form.user = user;
      this.displayName = user.name;
    },
    resizeLabelPosition() {
      if (window.innerWidth <= 768) {
        this.labelPosition = "top";
      }
    },
    closeDialog() {
      this.$emit("close");
    },
    updateLeaveApplication() {
      this.$refs.form.validate(async valid => {
        if (valid) {
          this.uploading = true;
          try {
            let resp = await apiCall({
              method: this.editMode ? "put" : "post",
              url: this.editMode ? `editleave/${this.form._id}` : "applyLeave",
              data: {
                user: this.form.user,
                leaveType: this.form.leaveType,
                leaveStart: this.form.leaveStart,
                leaveEnd: this.form.leaveEnd,
                dayOption: this.form.dayOption.leaveDay
                  ? this.form.dayOption
                  : null,
                duration:
                  this.form.dayOption.leaveDay == "AM" ||
                  this.form.dayOption.leaveDay == "PM"
                    ? 0.5
                    : this.calcDuration(
                        this.form.leaveStart,
                        this.form.leaveEnd
                      ),
                reason: this.form.reason
              }
            });
          } catch (err) {
            console.warn(err);
          } finally {
            this.uploading = false;
            this.$emit("update");
          }
        } else {
          return false;
        }
      });
    }
  },
  mounted() {
    this.resizeLabelPosition();
    window.addEventListener("resize", this.resizeLabelPosition);

    if (this.data) {
      this.editMode = true;
      this.form = _.cloneDeep(this.data);
      this.displayName = this.form.user.name;
    }
  },
  beforeDestroy() {
    window.removeEventListener("resize", this.resizeLabelPosition);
    this.$emit("close");
  }
};
</script>


