<template>
  <vue-scroll class="page-calendar" v-loading="loading">
    <div id="cal" class="calendar-wrap card-base card-shadow--medium"></div>

    <el-dialog
      title="Add New Leave"
      :visible.sync="dialogFormVisible"
      :before-close="this.closeEventDialog"
    >
      <el-form :model="form" ref="form" label-position="top">
        <el-col :span="13">
          <el-form-item
            label="Title"
            prop="title"
            :rules="[ { required: true, message: 'Please input event title', trigger: 'blur' } ]"
          >
            <el-input v-model="form.title"></el-input>
          </el-form-item>
        </el-col>
        <el-col class="text-center" :span="1">&nbsp;</el-col>
        <el-col :span="3">
          <el-form-item label="All day">
            <el-switch v-model="form.allDay"></el-switch>
          </el-form-item>
        </el-col>
        <el-col :span="7">
          <el-form-item label="Leave Type">
            <el-select v-model="form.type" value-key="text">
              <el-option
                v-for="option in leaveType"
                :key="option.id"
                :label="option.text"
                :value="option"
              ></el-option>
            </el-select>
          </el-form-item>
        </el-col>
        <el-form-item label="Description">
          <el-input type="textarea" autosize v-model="form.description"></el-input>
        </el-form-item>
        <el-form-item
          label="Start"
          prop="startDate"
          :rules="[ { required: true, message: 'Please input a valid date', trigger: 'blur' } ]"
        >
          <el-col :span="11">
            <el-date-picker
              type="date"
              placeholder="Pick a date"
              v-model="form.startDate"
              style="width: 100%;"
            ></el-date-picker>
          </el-col>
          <el-col v-if="!form.allDay" class="text-center" :span="2">-</el-col>
          <el-col v-if="!form.allDay" :span="11">
            <el-time-picker
              type="fixed-time"
              placeholder="Pick a time"
              v-model="form.startTime"
              style="width: 100%;"
              format="HH:mm"
            ></el-time-picker>
          </el-col>
        </el-form-item>
        <el-form-item label="End">
          <el-col :span="11">
            <el-date-picker
              type="date"
              placeholder="Pick a date"
              v-model="form.endDate"
              style="width: 100%;"
            ></el-date-picker>
          </el-col>
          <el-col v-if="!form.allDay" class="text-center" :span="2">-</el-col>
          <el-col v-if="!form.allDay" :span="11">
            <el-time-picker
              type="fixed-time"
              placeholder="Pick a time"
              v-model="form.endTime"
              style="width: 100%;"
              format="HH:mm"
            ></el-time-picker>
          </el-col>
        </el-form-item>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <el-button @click="closeEventDialog">Cancel</el-button>
        <el-button
          type="primary"
          @click="setEvent"
          :loading="this.uploading"
        >{{form.editMode? "Update": "Save"}}</el-button>
      </span>
    </el-dialog>
  </vue-scroll>
</template>

<script>
import moment from "moment-timezone";
import $ from "jquery";
import "fullcalendar";
import "fullcalendar/dist/fullcalendar.css";
import apiCall from "@/core/apiCall.js";

export default {
  name: "Calendar",
  data() {
    const __Y = moment().format("YYYY");
    const __M = moment().format("MM");

    return {
      loading: false,
      uploading: false,
      cal: null,
      dialogFormVisible: false,
      form: {
        title: "",
        description: "",
        allDay: false,
        startDate: "",
        startTime: "",
        endDate: "",
        endTime: "",
        type: "",
        editMode: false,
        holidayID: null
      },
      options: {
        customButtons: {
          addEvent: {
            text: "✚",
            click: this.addEventDialog
          }
        },
        lang: "en",
        header: {
          left: "prev,next today",
          center: "title",
          right: "month,listWeek addEvent"
        },
        height: "auto",
        firstDay: 1,
        allDaySlot: true,
        slotEventOverlap: true,
        selectable: true,
        selectHelper: true,
        timeFormat: "HH:mm",
        navLinks: true, // can click day/week names to navigate views
        editable: true,
        eventLimit: true, // allow "more" link when too many events
        events: [],
        startEditable: false,
        eventStartEditable: false,
        dayClick: this.dayClick,
        eventClick: this.eventClick,
        select: this.select
      },
      leaveType: [
        {
          leave_type: "public-holiday",
          text: "Public Holiday",
          id: 1
        },
        {
          leave_type: "company-holiday",
          text: "Company Holiday",
          id: 2
        },
        {
          leave_type: "temporary shutdown",
          text: "Temporary Leave",
          id: 3
        }
      ]
    };
  },
  methods: {
    closeEventDialog() {
      this.$refs.form.resetFields();
      this.dialogFormVisible = false;
      this.form = {
        title: "",
        description: "",
        allDay: false,
        startDate: "",
        startTime: "",
        endDate: "",
        endTime: "",
        type: "",
        editMode: false,
        holidayID: null
      };
    },
    setEvent() {
      this.$refs.form.validate(async valid => {
        if (valid) {
          this.uploading = true;
          try {
            let start = moment(this.form.startDate);
            if (this.form.startTime) {
              start.add(moment(this.form.startTime).format("HH"), "hours");
              start.add(moment(this.form.startTime).format("mm"), "minutes");
            }
            let event = {
              id: new Date().getTime(),
              title: this.form.title,
              description: this.form.description,
              start: start,
              allDay: this.form.allDay
            };
            if (this.form.endDate) {
              let end = moment(this.form.endDate);
              if (this.form.endTime) {
                end.add(moment(this.form.endTime).format("HH"), "hours");
                end.add(moment(this.form.endTime).format("mm"), "minutes");
              } else {
                end.add(24, "hours");
              }
              event.end = end;
            }
            await apiCall({
              method: this.form.editMode ? "put" : "post",
              url: this.form.holidayID
                ? `/holiday/${this.form.holidayID}`
                : "/holiday",
              data: {
                startDate: event.start.format("YYYY-MM-DD"),
                startTime: this.form.startTime
                  ? event.start.format("HH:mm")
                  : "",
                endDate: event.end.format("YYYY-MM-DD"),
                endTime: this.form.endTime ? event.end.format("HH:mm") : "",
                title: event.title,
                description: event.description,
                allDay: event.allDay,
                type: this.form.type
              }
            });
            //this.cal.fullCalendar("renderEvent", event, true);
          } catch (err) {
          } finally {
            this.uploading = false;
            this.closeEventDialog();
            this.getHoliday();
          }
        } else {
          return false;
        }
      });
    },
    addEventDialog() {
      this.dialogFormVisible = true;
    },
    dayClick(date, event, view) {
      this.form.startDate = date;
      this.dialogFormVisible = true;
    },
    eventClick(calEvent, jsEvent, view) {
      this.form = {
        title: calEvent.title,
        type: calEvent.type,
        description: calEvent.description,
        allDay: calEvent.allDay,
        startDate: calEvent.startDate
          ? moment(calEvent.startDate, "YYYY-MM-DD")
          : null,
        startTime: calEvent.startTime
          ? moment(calEvent.startTime, "HH:mm")
          : null,
        endDate: calEvent.endDate
          ? moment(calEvent.endDate, "YYYY-MM-DD")
          : null,
        endTime: calEvent.endTime ? moment(calEvent.endTime, "HH:mm") : null,
        editMode: true,
        holidayID: calEvent._id
      };

      console.log("FORM", this.form);
      this.dialogFormVisible = true;
    },
    select(start, end) {
      this.form.startDate = start;
      this.form.endDate = end;
      this.dialogFormVisible = true;
    },
    async getHoliday() {
      this.loading = true;
      this.cal = $(window.document.getElementById("cal"));
      this.cal.fullCalendar(this.options);
      this.cal.fullCalendar("removeEvents");
      try {
        let { data } = await apiCall({
          method: "get",
          url: "/holiday"
        });
        this.events = data.map(res => {
          return {
            ...res,
            start: res.startTime
              ? res.startDate + "T" + res.startTime
              : res.startDate,
            end: res.endTime ? res.endDate + "T" + res.endTime : res.endDate
          };
        });

        console.log("THIS EVENTS", this.events);
        for (let i in this.events) {
          this.cal.fullCalendar("renderEvent", this.events[i], true);
        }
      } catch (e) {
        console.warn(e);
      } finally {
        this.loading = false;
      }
    }
  },
  mounted() {
    this.getHoliday();
  }
};
</script>

<style lang="scss">
@import "../../../assets/scss/_variables";

/*.page-calendar {
	.calendar-wrap {
		//background: white;
	}
}*/
</style>

