<template>
  <div class="page-table scrollable only-y" id="affix-container" v-loading="loading">
    <div class="page-header">
      <h2>Manage Leaves</h2>
      <p>
        View your staff's leave in this table and assign new Leave here
        <span>
          <el-button style="float:right" @click="createNewLeaveDialog = true;">New Leave</el-button>
        </span>
      </p>
    </div>

    <el-table :data="list" :stripe="true">
      <el-table-column label="ID" width="100">
        <el-table-column prop="user.employeeID" width="125"></el-table-column>
      </el-table-column>
      <el-table-column label="Name">
        <el-table-column prop="user.name" width="300">
          <template slot="header" slot-scope="scope">
            <el-input @keyup.enter.native="searchData()" size="mini" placeholder="Type to search" />
          </template>
        </el-table-column>
      </el-table-column>
      <el-table-column label="Shift">
        <el-table-column prop="user.shift.name" width="200">
          <template slot="header" slot-scope="scope">
            <el-input size="mini" @keydown.native="searchData()" placeholder="Type to search" />
          </template>
        </el-table-column>
      </el-table-column>
      <el-table-column label="Leave Start">
        <el-table-column prop="leaveStart" width="150">
          <template slot="header" slot-scope="scope">
            <el-input size="mini" @keydown.native="searchData()" placeholder="Type to search" />
          </template>
        </el-table-column>
      </el-table-column>
      <el-table-column label="Leave End">
        <el-table-column prop="leaveEnd" width="150">
          <template slot="header" slot-scope="scope">
            <el-input size="mini" @keydown.native="searchData()" placeholder="Type to search" />
          </template>
        </el-table-column>
      </el-table-column>
      <el-table-column label="Duration">
        <el-table-column prop="duration" width="100">
          <template slot="header" slot-scope="scope">
            <el-input size="mini" @keydown.native="searchData()" placeholder="Type to search" />
          </template>
        </el-table-column>
      </el-table-column>
      <el-table-column label="Leave Type">
        <el-table-column prop="leaveType.leave" width="150">
          <template slot="header" slot-scope="scope">
            <el-input size="mini" @keydown.native="searchData()" placeholder="Type to search" />
          </template>
        </el-table-column>
      </el-table-column>
      <el-table-column label="Reason">
        <el-table-column prop="reason">
          <template slot="header" slot-scope="scope">
            <el-input size="mini" @keydown.native="searchData()" placeholder="Type to search" />
          </template>
        </el-table-column>
      </el-table-column>
      <el-table-column width="125">
        <template slot-scope="scope">
          <el-button size="mini" @click="handleEdit(scope.$index, scope.row)">
            <i class="el-icon-edit"></i>
          </el-button>
          <el-button size="mini" type="danger" @click="handleDelete(scope.$index, scope.row)">
            <i class="el-icon-delete"></i>
          </el-button>
        </template>
      </el-table-column>
    </el-table>
    <el-dialog
      v-if="createNewLeaveDialog"
      :visible.sync="createNewLeaveDialog"
      width="80%"
      top="5vh"
    >
      <span slot="title">
        <h2 style="text-align:center">New Leave</h2>
      </span>
      <new-leave
        :data="this.selected.data"
        @close="createNewLeaveDialog = false"
        @update="updateList($event)"
      ></new-leave>
    </el-dialog>

    <el-dialog :visible.sync="confirmDialog" class="newUserDialog" width="30%" top="15vh">
      <span>Are you sure you want to remove the leave application?</span>
      <span slot="footer" class="dialog-footer">
        <el-button @click="confirmDialog = false">Cancel</el-button>
        <el-button type="primary" @click="deleteLeave()">Confirm</el-button>
      </span>
    </el-dialog>
  </div>
</template>

<script>
import Affix from "@/components/Affix";
import NewLeave from "@/components/Leave/NewLeave.vue";
import apiCall from "@/core/apiCall.js";

export default {
  name: "LeaveList",
  data() {
    return {
      loading: false,
      affixEnabled: true,
      createNewLeaveDialog: false,
      confirmDialog: false,
      list: [],
      originalList: [],
      selected: {
        deleteIndex: "",
        data: null,
        operation: ""
      }
    };
  },
  components: {
    Affix,
    NewLeave
  },
  methods: {
    updateList() {
      this.createNewLeaveDialog = false;
      this.getLeaves();
    },
    async getLeaves() {
      this.loading = true;
      try {
        let { data } = await apiCall({
          method: "get",
          url: "/getleave"
        });
        this.list = data;
        this.originalList = _.clone(data);
      } catch (e) {
        console.warn("ERROR:", e);
      } finally {
        this.loading = false;
      }
    },
    handleDelete(index, data) {
      this.confirmDialog = true;
      this.selected = {
        operation: "delete",
        data: data,
        index: index
      };
    },
    async deleteLeave() {
      if (this.selected.operation == "delete") {
        try {
          let resp = await apiCall({
            method: "delete",
            url: `/removeleave/${this.selected.data._id}`
          });
        } catch (e) {
        } finally {
          this.resetSelection();
          this.confirmDialog = false;
          this.getLeaves();
        }
      }
    },
    handleEdit(index, data) {
      console.log("EDIT INDEX", index);
      console.log("DATA", data);
      this.selected = {
        deleteIndex: index,
        data: data,
        operation: "edit"
      };
      this.createNewLeaveDialog = true;
    },
    resetSelection() {
      this.selected = {
        deleteIndex: "",
        data: null,
        operation: ""
      };
    },
    handleClose() {
      console.log("CLOSE");
      this.createNewUserDialog = false;
      this.resetSelection();
    }
  },
  mounted() {
    this.getLeaves();
  },
  computed: {}
};
</script>

<style lang="scss" scoped>
.table-box {
  overflow: auto;
}
</style>