<template>
	<div class="horizontal-nav flex" :class="{['pos-'+position]:true}">
		<logo mode="horizontal"/>
		<div class="box grow box-left flex nav-container">
			<Nav @push-page="pushPage" mode="horizontal"/>
		</div>
		<div class="box-right flex align-center pl-10" style="margin-right:30px">
			<span class="username"><router-link to="/profile">Aurora Shenton</router-link></span>
			<el-dropdown trigger="click" @command="onCommand">
				<span class="el-dropdown-link">
					<img src="../assets/images/avatar.jpg" class="avatar" alt="avatar">
				</span>
				<el-dropdown-menu slot="dropdown">
					<el-dropdown-item command="/profile"><i class="mdi mdi-account mr-10"></i> Profile</el-dropdown-item>
					<el-dropdown-item command="/calendar"><i class="mdi mdi-calendar mr-10"></i> Calendar</el-dropdown-item>
					<el-dropdown-item command="/contacts"><i class="mdi mdi-account-multiple mr-10"></i> Contacts</el-dropdown-item>
					<el-dropdown-item command="/logout" divided><i class="mdi mdi-logout mr-10"></i> Logout</el-dropdown-item>
				</el-dropdown-menu>
			</el-dropdown>

			<button @click="toggleSidebar" v-if="menuBurger === 'right'" class="toggle-sidebar toggle-sidebar__right card-base card-shadow--small">
				<i class="mdi mdi-menu"></i>
			</button>
		</div>
	</div>
</template>


<script>
import Nav from '@/core/nav.vue'
import Logo from '@/core/logo.vue'

export default {
	name: 'HorizontalNav',
	props: ['position'],
	data() {
		return {}
	},
	methods: {
		pushPage(index, indexPath) {
			this.$emit('push-page', {page:index})
		}
	},
	components: {
		Nav,
		Logo
	}
}
</script>

<style lang="scss" scoped>
@import '../assets/scss/_variables';


.avatar {
	border-radius: 50%;
	width: 35px;
	height: 35px;
	border: 1px solid #FFF;
	margin-left: 20px;
	box-sizing: border-box;
	display: block;
	cursor: pointer;
	box-shadow: 0 2px 5px 0 rgba(49,49,93,.1), 0 1px 2px 0 rgba(0,0,0,.08);
	transition: box-shadow .5s;

	&:hover {
		box-shadow: 0px 3px 10px 0 rgba(49, 49, 93, 0.08), 0px 2px 7px 0 rgba(0, 0, 0, 0.08);
	}
}



.horizontal-nav {
	overflow: hidden;
	//overflow-x: scroll;
	//-webkit-overflow-scrolling: touch;
	//-ms-overflow-style: -ms-autohiding-scrollbar;
	background: white;
	height: 45px;
	z-index: 1;
	margin-bottom: 30px;

	&.pos-top {
		border-bottom-left-radius: 16px;
		border-bottom-right-radius: 16px;
	}
	&.pos-bottom {
		border-top-left-radius: 16px;
		border-top-right-radius: 16px;
	}

	.nav-container {
		position: relative;
		overflow: hidden;
		padding-right: 20px;
		
		&::before {
			content: '';
			display: block;
			z-index: 1;
			position: absolute;
			top: 0px;
			left: 0px;
			width: 0px;
			height: 20px;
			box-shadow: 0px 0px 15px 15px #fff;
		}		
		&::after {
			content: '';
			display: block;
			z-index: 1;
			position: absolute;
			top: 0px;
			right: 20px;
			width: 0px;
			height: 20px;
			box-shadow: 0px 0px 15px 15px #fff;
		}
	}
}
</style>
