<template>
  <el-form :model="form" ref="form" label-position="top" style="overflow:auto">
    <el-col :span="12">
      <el-form-item
        label="Terminal ID"
        prop:terminalID
        :rules="[ { required: true, message: 'Please input terminalID', trigger: 'blur' } ]"
      >
        <el-input v-model="form.terminalID" style="width:90%"></el-input>
      </el-form-item>
    </el-col>

    <el-col :span="12">
      <el-form-item
        label="Assigned Device User"
        prop="user"
        :rules="[ { required: true, message: 'Please input user', trigger: 'blur' } ]"
      >
        <el-autocomplete
          v-model="displayName"
          :fetch-suggestions="querySearchUsers"
          placeholder="Search for User"
          @select="handleSelect"
          style="width:90%"
        ></el-autocomplete>
      </el-form-item>
    </el-col>

    <el-col :span="12">
      <el-form-item
        label="Remark"
        prop="remark"
        :rules="[ { required: true, message: 'Please input device Remark', trigger: 'blur' } ]"
      >
        <el-input v-model="form.remark" style="width:90%"></el-input>
      </el-form-item>
    </el-col>

    <el-col :span="12">
      <el-form-item label="Device Status" prop="status">
        <el-input :disabled="true" :value="form.status.name" style="width:90%"></el-input>
      </el-form-item>
    </el-col>

    <el-col :span="12">
      <el-form-item
        label="Assigned Shift"
        prop="shiftData"
        :rules="[ { required: true, message: 'Please select valid shift', trigger: 'blur' } ]"
      >
        <el-select v-model="form.shiftData" value-key="shiftName" style="width:90%">
          <el-option
            v-for="option in shiftOptions"
            :key="option.id"
            :value="option"
            :label="option.shiftName"
          ></el-option>
        </el-select>
      </el-form-item>
    </el-col>

    <el-col :span="12">
      <el-form-item
        label="LocationName"
        prop="locationName"
        :rules="[ { required: true, message: 'Please input Location Name', trigger: 'blur' } ]"
      >
        <el-input v-model="form.locationName" style="width:90%"></el-input>
      </el-form-item>
    </el-col>

    <el-col :span="24">
      <el-form-item prop="location_map" label="Site location">
        <gmap-autocomplete
          class="el-input el-input__inner"
          type="text"
          placeholder="Enter Location"
          :value="form.locationData.location_map ? form.locationData.location_map.formatted_address : ''"
          @place_changed="locationChanged($event)"
        ></gmap-autocomplete>
        <GmapMap
          :center="form.locationData.coordinate"
          :zoom="15"
          map-type-id="terrain"
          style="height: 300px; width: 100%;"
        >
          <GmapMarker
            :position="form.locationData.coordinate"
            :clickable="true"
            :draggable="true"
            @click="center = m.position"
          />
        </GmapMap>
      </el-form-item>
    </el-col>
    <el-col>
      <el-col :span="24" :md="24" :sm="24" :xs="24" class="col-p">
        <div style="text-align:center">
          <el-button type="info" @click="closeDialog()" style="width:25%">CANCEL</el-button>
          <el-button
            type="primary"
            :loading="uploading"
            @click="updateDeviceApplication()"
            style="width:25%"
          >CONFIRM</el-button>
        </div>
      </el-col>
    </el-col>
  </el-form>
</template>

<script>
import moment from "moment";
import apiCall from "@/core/apiCall.js";

export default {
  name: "NewLeave",
  props: {
    data: {
      type: Object
    }
  },

  data() {
    let todayDate = moment().format("DD-MM-YYYY");

    return {
      form: {
        terminalID: "",
        user: {},
        shiftData: {},
        locationName: null,
        locationData: {
          coordinate: { lat: 3.139003, lng: 101.686855 },
          location_map: null
        },
        status: {
          id: 1,
          status: "pre-auth",
          name: "Not Linked to Device"
        }
      },
      editMode: false,
      shiftOptions: [
        {
          shiftName: "Site Sunway",
          id: 1001
        },
        {
          shiftName: "Site Kajang",
          id: 1002
        },
        {
          shiftName: "HQ",
          id: 1003
        },
        {
          shiftName: "TRX Bandar Malaysia",
          id: 1004
        }
      ],
      uploading: false,
      displayName: ""
    };
  },
  methods: {
    calcDuration(startDate, leaveDate) {
      if (startDate !== null && leaveDate !== null) {
        let momentStartDate = moment(startDate, "DD-MM-YYYY");
        let momentEndDate = moment(leaveDate, "DD-MM-YYYY");
        let duration = momentEndDate.diff(momentStartDate, "days");
        if (duration > 0) {
          this.form.dayOption = {
            leaveDay: null
          };
        }
        return duration + 1;
      }
    },
    async querySearchUsers(queryString, cb) {
      let { data } = await apiCall({
        method: "get",
        url: "users"
      });
      queryString = queryString.toLowerCase();
      data = data.map(res => {
        return { ...res, value: res.name };
      });

      let results = queryString
        ? data.filter(res => {
            return res.value.toLowerCase().includes(queryString);
          })
        : data;

      results = results.filter(res => res.designation.id === 3);

      cb(results);
    },
    handleSelect(user) {
      this.form.user = user;
      this.displayName = user.name;
    },
    resizeLabelPosition() {
      if (window.innerWidth <= 768) {
        this.labelPosition = "top";
      }
    },
    closeDialog() {},
    locationChanged(event) {
      this.form.locationData.location_map = event;
      this.form.locationData.coordinate = {
        lat: event.geometry.location.lat(),
        lng: event.geometry.location.lng()
      };
    },
    updateDeviceApplication() {
      this.$refs.form.validate(async valid => {
        if (valid) {
          this.uploading = true;
          try {
            let resp = await apiCall({
              method: this.editMode ? "put" : "post",
              url: this.editMode ? `editdevice/${this.form._id}` : "newdevice",
              data: {
                deviceUser: this.form.user,
                remark: this.form.remark,
                terminalID: this.form.terminalID,
                shiftData: this.form.shiftData,
                locationData: this.form.locationData,
                locationName: this.form.locationName,
                status: this.form.status
              }
            });
          } catch (err) {
            console.warn(err);
          } finally {
            this.uploading = false;
            this.$emit("update");
          }
        } else {
          return false;
        }
      });
    }
  },
  mounted() {
    this.resizeLabelPosition();
    window.addEventListener("resize", this.resizeLabelPosition);

    if (this.data) {
      this.editMode = true;
      this.form = _.cloneDeep(this.data);
      this.form.user = this.data.deviceUser;
      this.displayName = this.form.user.name;
    }
  },
  beforeDestroy() {
    window.removeEventListener("resize", this.resizeLabelPosition);
    this.$emit("close");
  }
};
</script>

<style>
.pac-container > pac-logo {
  z-index: 5000 !important;
}

.pac-container.pac-logo {
  z-index: 4000 !important;
}
.pac-container.pac-logo.hdpi {
  z-index: 4000 !important;
}
</style>
