<template>
  <div class="page-table scrollable only-y" id="affix-container">
    <div class="page-header">
      <h2>Manage Devices</h2>
      <p>
        Manage your biometrics terminals in this tab. You can edit the terminals' information, view the details of each terminal.
        <span>
          <el-button style="float:right" @click="createNewDevices = true">Add Terminal</el-button>
        </span>
      </p>
    </div>
    <el-table :data="list" style="width: 100%" :stripe="true">
      <el-table-column label="ID" width="75"></el-table-column>
      <el-table-column label="BASIC DEVICE INFO">
        <el-table-column label="Serial No." prop="deviceSerial"></el-table-column>
        <el-table-column label="Model" prop="deviceModel"></el-table-column>
        <el-table-column label="Users." prop="userCounts" width="75"></el-table-column>
      </el-table-column>
      <el-table-column label="CONNECTION INFO">
        <el-table-column label="Activated at" prop="activatedDate"></el-table-column>
        <el-table-column label="Connection Status" prop="status.name"></el-table-column>
      </el-table-column>
      <el-table-column label="DEVICE INSTALLATION INFO">
        <el-table-column label="Terminal ID." prop="terminalID"></el-table-column>
        <el-table-column label="Device User" prop="deviceUser.name"></el-table-column>
        <el-table-column label="Shift" prop="shiftData.shiftName"></el-table-column>
        <el-table-column label="Location." prop="locationName"></el-table-column>

        <el-table-column label="Edit" width="150">
          <template slot-scope="scope">
            <el-button size="mini" @click="handleEdit(scope.$index, scope.row)">
              <i class="el-icon-edit"></i>
            </el-button>
            <el-button size="mini" type="danger" @click="handleDelete(scope.$index, scope.row)">
              <i class="el-icon-delete"></i>
            </el-button>
          </template>
        </el-table-column>
      </el-table-column>
    </el-table>

    <el-dialog v-if="createNewDevices" :visible.sync="createNewDevices" width="80%" top="5vh">
      <span slot="title">
        <h2 style="text-align:center">Device Registration</h2>
      </span>
      <new-device
        :data="this.selected.data"
        @close="createNewDevices = false"
        @update="updateList($event)"
      ></new-device>
    </el-dialog>

    <el-dialog :visible.sync="confirmDialog" class="newUserDialog" width="30%" top="15vh">
      <span>Are you sure you want to remove the device registration?</span>
      <span slot="footer" class="dialog-footer">
        <el-button @click="confirmDialog = false">Cancel</el-button>
        <el-button type="primary" @click="deleteDevice()">Confirm</el-button>
      </span>
    </el-dialog>
  </div>
</template>

<script>
import Affix from "@/components/Affix";
import NewDevice from "@/components/Devices/NewDevices.vue";
import apiCall from "@/core/apiCall.js";
export default {
  name: "Users",
  data() {
    return {
      loading: false,
      affixEnabled: true,
      createNewDevices: false,
      confirmDialog: false,
      list: [],
      search: "",
      selected: {
        deleteIndex: "",
        data: null,
        operation: ""
      }
    };
  },
  components: {
    Affix,
    NewDevice
  },
  methods: {
    updateList() {
      this.createNewDevices = false;
      this.getDevices();
    },
    async getDevices() {
      this.loading = true;
      try {
        let { data } = await apiCall({
          method: "get",
          url: "/getdevices"
        });
        this.list = data;
        this.originalList = _.clone(data);
      } catch (e) {
        console.warn("ERROR:", e);
      } finally {
        this.loading = false;
      }
    },
    handleDelete(index, data) {
      this.confirmDialog = true;
      this.selected = {
        operation: "delete",
        data: data,
        index: index
      };
    },
    async deleteDevice() {
      if (this.selected.operation == "delete") {
        try {
          let resp = await apiCall({
            method: "delete",
            url: `/removedevice/${this.selected.data._id}`
          });
        } catch (e) {
        } finally {
          this.resetSelection();
          this.confirmDialog = false;
          this.getDevices();
        }
      }
    },
    handleEdit(index, data) {
      console.log("EDIT INDEX", index);
      console.log("DATA", data);
      this.selected = {
        deleteIndex: index,
        data: data,
        operation: "edit"
      };
      this.createNewDevices = true;
    },
    resetSelection() {
      this.selected = {
        deleteIndex: "",
        data: null,
        operation: ""
      };
    },
    handleClose() {
      console.log("CLOSE");
      this.createNewDevices = false;
      this.resetSelection();
    }
  },
  mounted() {
    this.getDevices();
  }
};
</script>

<style lang="scss" scoped>
@import "../../../assets/scss/_variables";

.table-box {
  overflow: auto;
}
</style>

