<template>
  <div class="page-table scrollable only-y" id="affix-container" v-loading="loading">
    <div class="page-header">
      <h2>Manage Users</h2>
      <p>
        Manage your company's users in this tab; add relevant staff information to complete the employment details.
        <span>
          <el-button style="float:right" @click="addNewUser()">Add User</el-button>
        </span>
      </p>
    </div>

    <el-table :data="list" :stripe="true">
      <el-table-column label="ID" width="100">
        <el-table-column prop="employeeID" width="125"></el-table-column>
      </el-table-column>
      <el-table-column label="Name">
        <el-table-column prop="name" width="300">
          <template slot="header" slot-scope="scope">
            <el-input
              v-model="search.first_name"
              @keyup.enter.native="searchData()"
              size="mini"
              placeholder="Type to search"
            />
          </template>
        </el-table-column>
      </el-table-column>
      <el-table-column label="Shift">
        <el-table-column prop="shift.scheduleName" width="200">
          <template slot="header" slot-scope="scope">
            <el-input
              v-model="search.last_name"
              size="mini"
              @keydown.native="searchData()"
              placeholder="Type to search"
            />
          </template>
        </el-table-column>
      </el-table-column>
      <el-table-column label="Organization">
        <el-table-column prop="organization" width="150">
          <template slot="header" slot-scope="scope">
            <el-input
              v-model="search.email"
              size="mini"
              @keydown.native="searchData()"
              placeholder="Type to search"
            />
          </template>
        </el-table-column>
      </el-table-column>
      <el-table-column label="Job Title">
        <el-table-column prop="job_title" width="150">
          <template slot="header" slot-scope="scope">
            <el-input
              v-model="search.gender"
              size="mini"
              @keydown.native="searchData()"
              placeholder="Type to search"
            />
          </template>
        </el-table-column>
      </el-table-column>
      <el-table-column label="Designation">
        <el-table-column prop="designation.name">
          <template slot="header" slot-scope="scope">
            <el-input
              v-model="search.ip_address"
              size="mini"
              @keydown.native="searchData()"
              placeholder="Type to search"
            />
          </template>
        </el-table-column>
      </el-table-column>
      <el-table-column label="Status">
        <el-table-column prop="employmentStatus.status">
          <template slot="header" slot-scope="scope">
            <el-input
              v-model="search.ip_address"
              size="mini"
              @keydown.native="searchData()"
              placeholder="Type to search"
            />
          </template>
        </el-table-column>
      </el-table-column>
      <el-table-column label="Last Activity">
        <el-table-column prop="last_activity.activity">
          <template slot="header" slot-scope="scope">
            <el-input
              v-model="search.ip_address"
              size="mini"
              @keydown.native="searchData()"
              placeholder="Type to search"
            />
          </template>
        </el-table-column>
      </el-table-column>
      <el-table-column width="125">
        <template slot-scope="scope">
          <el-button size="mini" @click="handleEdit(scope.$index, scope.row)">
            <i class="el-icon-edit"></i>
          </el-button>
          <el-button size="mini" type="danger" @click="handleDelete(scope.$index, scope.row)">
            <i class="el-icon-delete"></i>
          </el-button>
        </template>
      </el-table-column>
    </el-table>
    <el-dialog
      v-if="createNewUserDialog"
      :visible.sync="createNewUserDialog"
      style="overflow:auto"
      width="80%"
      top="5vh"
    >
      <span slot="title">
        <h2 style="text-align:center">{{this.selected.data? "Edit User": "New User Registration"}}</h2>
      </span>
      <new-user :data="this.selected.data" @close="handleClose()" @update="updateList($event)"></new-user>
    </el-dialog>

    <el-dialog
      :visible.sync="confirmDialog"
      class="newUserDialog"
      style="overflow:auto"
      width="30%"
      top="15vh"
      title="Confirmation"
    >
      <span>Are you sure you want to remove the user?</span>
      <span slot="footer" class="dialog-footer">
        <el-button @click="confirmDialog = false">Cancel</el-button>
        <el-button type="primary" @click="deleteUser()">Confirm</el-button>
      </span>
    </el-dialog>
  </div>
</template>

<script>
import Affix from "@/components/Affix";
import NewUser from "@/components/Users/NewUser.vue";
import apiCall from "@/core/apiCall.js";

export default {
  name: "Users",
  data() {
    return {
      loading: false,
      affixEnabled: true,
      createNewUserDialog: false,
      confirmDialog: false,
      list: [],
      originalList: [],
      search: {
        first_name: null,
        last_name: null,
        ip_address: null,
        gender: null,
        email: null
      },
      selected: {
        deleteIndex: "",
        data: null,
        operation: ""
      }
    };
  },
  components: {
    Affix,
    NewUser
  },
  methods: {
    searchData() {
      let data = null;

      _.forEach(this.search, (value, key) => {
        if (value != null) {
          data = this.originalList.filter(res => {
            return res[key].toLowerCase().indexOf(value.toLowerCase()) == 0;
          });
        }
      });

      this.list = data;
    },
    addNewUser() {
      this.createNewUserDialog = true;
    },
    updateList() {
      this.createNewUserDialog = false;
      this.getUsers();
    },
    async getUsers() {
      this.loading = true;
      try {
        let { data } = await apiCall({
          method: "get",
          url: "/users"
        });
        this.list = data;
        this.originalList = _.clone(data);
      } catch (e) {
        console.warn("ERROR:", e);
      } finally {
        this.loading = false;
      }
    },
    handleDelete(index, data) {
      this.confirmDialog = true;
      this.selected = {
        operation: "delete",
        data: data,
        index: index
      };
    },
    async deleteUser() {
      if (this.selected.operation == "delete") {
        try {
          let resp = await apiCall({
            method: "delete",
            url: `/users/${this.selected.data._id}`
          });
        } catch (e) {
        } finally {
          this.resetSelection();
          this.confirmDialog = false;
          this.getUsers();
        }
      }
    },
    handleEdit(index, data) {
      console.log("EDIT INDEX", index);
      console.log("DATA", data);
      this.selected = {
        deleteIndex: index,
        data: data,
        operation: "edit"
      };

      this.createNewUserDialog = true;
    },
    resetSelection() {
      this.selected = {
        deleteIndex: "",
        data: null,
        operation: ""
      };
    },
    handleClose() {
      console.log("CLOSE");
      this.createNewUserDialog = false;
      this.resetSelection();
    }
  },
  mounted() {
    this.getUsers();
  },
  computed: {}
};
</script>

<style lang="scss" scoped>
.table-box {
  overflow: auto;
}
</style>

